body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
    background-image: url(../img/lee3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-opçoes ul{
    font-size: 20px;
}
.menu-opçoes a{
    color: black;
    background-color: lightgray;
    border-radius: 10px;
}
.busca{
    float: left;
    left: 2px;
}
.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.menu-opçoes{
    position: absolute;
    top: 0px;
    right: 0px;
}
.menu-opçoes ul li{
    display: inline;
    margin-left: 20px;
}
#backimg{
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
}    
#imglogo{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
#imglupa{
    width: 20px;
    height: auto;
}
#imgExer1, #imgExer2{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}
.busca, .menu-conteudo{
    background-color: lightgray;
    font-weight: bold;/*negrito*/
    text-transform: uppercase; /*maiusculo*/
    width: 600px;
    margin-right: 10px;
}
.busca h2, .busca form, .menu-conteudo h2{
    margin: 10px;
}
.menu-conteudo li{
    background-color: antiquewhite;
    margin-bottom: 1px;
    padding: 5px 10px;

}
.menu-conteudo a{
    color: darkgray;
}
.menu-conteudo{
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}
.busca{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.busca input{
    vertical-align: middle;
}
.destaque{
    margin-top: 10px;
}
.busca input[type=search]{
    width: 170px;
}
.busca:hover{
    background-color: grey;
}
.menu-conteudo ul li:hover{
    background-color: grey;

}
.menu-conteudo li ul{
    display: none;
}
.menu-conteudo li:hover ul{
    display: block;
}
.menu-conteudo ul ul li{
    background-color: dimgray;
}
.menu-conteudo ul li a:after{
    content: '>';
}
.menu-conteudo ul li a:before{
    content: '<';
}
.painel li{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin: 2px;
    padding-bottom: 10px;
}
.painel h2{
    font-family: 20px;
    font-size: 20px;
    text-shadow: 10px 5px 5px grey;
}
.painel a{
    color: #003366;
    font-size: 15px;
    text-align: center;
}
#takaIcon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.social a[href*=instagram]{
    color: pink;
}
.social a[href*=github]{
    color: darkblue;
}
.social{
    position: absolute;
    top: 12px;
    right: 10px;
}
.social li a[href*=instagram]{/*iconelink do instagram*/
    width: 50px;
    height: 50px;
    background-image: url(../img/insta.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}
.social li a[href*=github]{/*iconelink do github*/
    width: 50px;
    height: 50px;
    background-image: url(../img/git.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}
footer{
    margin-top: 30px;
    clear: both;
}
.social li{
    float: left;
    margin-bottom: auto;
}
