main{
    width: 55%;
    margin-right:auto;
    margin-left:auto;
    border-radius: 1%;
    height: 450px;
    background-color: cadetblue;
}
.container{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.botao{
    background-color: turquoise;
    margin: 1px;
    margin-bottom: 3px;
    height: 40px;
    width: 75px;
}